<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.m.mappers.ActionMapper">
    <resultMap type="com.m.modle.Shipin" id="ShipinResult">
    </resultMap>
	 <resultMap type="com.m.modle.Guanggao" id="GuanggaoResult">
    </resultMap>
    <resultMap type="com.m.modle.ShipinGuanggao" id="ShipinGuanggaoResult">
    </resultMap>
    <resultMap type="com.m.modle.Admin" id="AdminResult">
    </resultMap>
    <resultMap type="com.m.modle.Pinglun" id="PinlungResult">
    </resultMap>
    <select id="adminLogin" parameterType="Map" resultMap="AdminResult">
        select admin.* from  admin   where admin.name=#{name} and admin.password=#{password} and admin.type=#{type};
        
    </select>
    <insert id="insertShipin" parameterType="Map">
        insert into shipin(type,title,jianjie,url,riqi)
        values(#{type},#{title},#{jianjie},#{url},#{riqi})
    </insert>
     <insert id="insertAdmin" parameterType="Map">
        insert into admin(type,name,password,sex,age,phone,email,qq)
        values(#{type},#{name},#{password},#{sex},#{age},#{phone},#{email},#{qq})
    </insert>
    <delete id="deleteShipin" parameterType="String">
        delete from shipin
        where id=#{id};
       
    </delete>
   
  <update id="updateShipin" parameterType="Map">
        update shipin
		<set>
             <if test="title!=null and title!='' ">
                title=#{title},
            </if>
            <if test="url!=null and url!='' ">
                url=#{url},
            </if>
            <if test="type!=null and type!='' ">
                type=#{type},
            </if>
            <if test="jianjie!=null and jianjie!='' ">
                jianjie=#{jianjie},
            </if>
        </set>
        where id=#{id}
    </update>
   <select id="selecShipin" parameterType="Map" resultMap="ShipinResult">
        select shipin.* from  shipin   where shipin.title  like  #{name};
        
    </select>
     <select id="selectShipinBynameAndtype" parameterType="Map" resultMap="ShipinResult">
        select shipin.* from  shipin   where shipin.title  like  #{name} and shipin.type like  #{type};
        
    </select>
     <select id="selecShipinBytype" parameterType="Map" resultMap="ShipinResult">
        select shipin.* from  shipin   where shipin.title  type =#{type};
        
    </select>
    <insert id="insertGuanggao" parameterType="Map">
        insert into guanggao(type,title,jianjie,url,riqi)
        values(#{type},#{title},#{jianjie},#{url},#{riqi})
    </insert>
    <delete id="deleteGuanggao" parameterType="String">
        delete from guanggao
        where id=#{id};
       
    </delete>
   
  <update id="updateGuanggao" parameterType="Map">
        update guanggao
		<set>
             <if test="title!=null and title!='' ">
                title=#{title},
            </if>
            <if test="url!=null and url!='' ">
                url=#{url},
            </if>
            <if test="type!=null and type!='' ">
                type=#{type},
            </if>
            <if test="jianjie!=null and jianjie!='' ">
                jianjie=#{jianjie},
            </if>
        </set>
        where id=#{id}
    </update>
   <select id="selectGuanggao" parameterType="Map" resultMap="GuanggaoResult">
        select guanggao.* from  guanggao   where guanggao.title  like  #{name};
        
    </select>
    <update id="updateAdmin" parameterType="Map">
        update admin
		<set>
             <if test="password!=null and password!='' ">
                password=#{password},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="selecShipinByid" parameterType="Map" resultMap="ShipinResult">
        select shipin.* from  shipin   where shipin.id=#{id};
        
    </select>
     <select id="selecguanggaoByid" parameterType="Map" resultMap="GuanggaoResult">
        SELECT guanggao.* ,shipin_guanggao.kaiboshiduan as kaiboshiduan,shipin_guanggao.shijian as shijian from guanggao INNER JOIN shipin_guanggao on 
     shipin_guanggao.guanggaoid=guanggao.id  where shipin_guanggao.shipinid=#{id};
        
    </select>
    <select id="selecShipinguanggao" parameterType="Map" resultMap="ShipinGuanggaoResult">
      select shipin_guanggao.*,shipin.title as shipinname,guanggao.title as guanggaoname from shipin_guanggao INNER JOIN shipin on shipin.id=shipin_guanggao.shipinid
     INNER JOIN guanggao on guanggao.id=shipin_guanggao.guanggaoid
        
    </select>
    <delete id="deleteShipinguanggao" parameterType="String">
        delete from shipin_guanggao
        where id=#{id};
    </delete>
      <insert id="insertShipinguanggao" parameterType="Map">
        insert into shipin_guanggao(guanggaoid,shipinid,kaiboshiduan,shijian)
        values(#{guanggaoid},#{shipinid},#{kaiboshiduan},#{shijian})
    </insert>
     <insert id="insertPinglun" parameterType="Map">
        insert into pinglun(shipinid,userid,neirong,shijian)
        values(#{shipinid},#{userid},#{neirong},#{shijian})
    </insert>
    <select id="selectPinglun" parameterType="Map" resultMap="PinlungResult">
        select pinglun.* ,admin.name as username from  pinglun inner join admin on admin.id=pinglun.userid  where pinglun.shipinid=#{shipinid} order by pinglun.shijian desc ;
        
    </select>
</mapper> 